# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Screenshots / temporary files
*.png
*.jpg
*.jpeg

# Python test/cache files
.pytest_cache/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db